* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: darkgray;
    display: flex;
    justify-content: center;
}

#canvas {
    width: auto;
    height: auto;
    /*    
    width: 256px;
    height: 240px;
    */
    background-color: chartreuse;
}